.main-hero
  background: $dark
  height: 100vh
  background-size: cover
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  h1, h2
    margin-bottom: 1em
    color: white
    float: left
    font-size: 60px
