*, *::before, *::after
  box-sizing: border-box
  text-align: center

body
  margin: 0
  padding: 0

img
  max-width: 100%
  height: auto

.container
  width: 90%
  margin: 0 auto
  max-width: 1200px

i
  color: $orange
  font-size: 5rem
  margin: 1.5em 1em

  &:hover
    color: darken($orange, 10%)
